@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    background-color: #E1E1E1;
    margin: 0;
    font-family: "Jost", Helvetica, sans-serif;
}
#introduction{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#beginner-text{
    display: flex;
    justify-content: center;
}
#navGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    padding: 10px;
    background-color: #B28869;
    margin-bottom: 20px;
    align-items: center;
}

.logo {
    height: 100px;                
    width: auto;                 
}
ul.navLinks {
    list-style: none;            
    display: flex;              
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

ul.navLinks li{
    margin-left: 20px;
    padding: 20px;
    font-size: 1.55em;    
    border-radius: 5px;         
    margin-right: 30px;
}

ul.navLinks a {
    text-decoration: none;                     
    transition: color 0.3s;     
    color: black;
    padding: 10px 20px;
}
ul.navLinks a:hover{
    background-color: #735946;
    color: #C89295;
}

.LeftAlignContent{
    display: flex;
    padding: 20px;
    align-items: center;
}
#byuImage{
    width: 25%;
    height: auto;
}

h2{
    font-family: "Playfair Display", sans-serif;
}
h1{
    font-family: "Playfair Display", sans-serif;
}
#python-img {
    width: 15%;
    height: auto;
    padding-right: 20px;
}
#piano-picker-img{
    padding: 10px;
}
#friend-renewer{
    width: 50%;
}
.RightAlignContent{
    display: flex;
    padding: 20px;
    padding-left: 30px;
    flex-direction: row-reverse;
    align-items: center;
}
#stop-img{
    width: 40%;
    padding: 10px;

}
footer{
    background-color: #B28869;
    display: grid;
    padding: 10px;
    width: 100%;
}
.footer-grid{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footer-text{
    display: flex;
    padding: 20px;
}
.line{
    width: 97%;

}
#jump-frog{
    padding: 10px;
    width: 100%;
}
#push-up-frog{
    padding: 20px;
    padding-top: 5%;
    width: 100%;
}